<div>
  <p><%= notice %></p>
  <% @posts.each do |post| %>
    <ul class="article_main">
      <div class = "content_userimg">
        <li><%= image_tag post.user.image.url %></li>
        <li><%= post.user.name %></li>
      </div>
      <div class = "content_main">
        <li class="article_title"><%= post.title %></li>
        <% if post.image.url.nil? %>
          <li></li>
        <% else %>
          <li><%= image_tag post.image.url %></li>
        <% end %>
        <li><%= post.content.truncate(100) %></li>
        <li><%= link_to 'Check the details', post_path(post.id) %></li>
      </div>
    </ul>
  <% end %>
</div>

<div class = "sidebar">
  <ul>
    <li class = "side_userimg"><%= image_tag @current_user.image.url %></li>
    <li class = "side_userimg">Hello, Mr/Mrs. <%= @current_user.name %></li>
    <li><%= link_to @current_user.name + "To your favorite post", favorites_path %></li>
    <br>
    <p class = "side_line">
    <li class = "side_userimg">Users with posts</li>

  <% @post_users.each do |post_user| %>
    <% if post_user.user.name != @current_user.name %>
      <% unless post_user.user.image.url.nil? %>
        <li class = "side_userimg"><%= image_tag post_user.user.image.url %></li>
        <li><%= post_user.user.name %></li>
      <% end %>
    <% end %>
  <% end %>
  </ul>
</div>
