<div>
  <ul class="article_main">
    <div class = "content_userimg">
      <li><%= image_tag @post.user.image.url %></li>
      <li><%= @post.user.name %></li>
    </div>
    <div class = "content_main">
      <li class="article_title"><%= @post.title %></li>
      <% unless @post.image.url.nil? %>
        <li><%= image_tag @post.image.url %></li>
      <% end %>
      <li><%= @post.content %></li>
      <% if @post.user.name == @current_user.name %>
        <li><%= link_to "Edit the blog", edit_post_path(@post.id), data: { confirm: 'Can I really edit it?' } %></li>
        <li><%= link_to 'Delete blog', post_path(@post.id), method: :delete ,data: { confirm: 'Can I really delete it?' } %></li>
      <% end %>
      <% unless @post.user_id == current_user.id %>
        <% if @favorite.present? %>
          <%= link_to 'Unfavorite', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'Favorite', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </ul>
</div>
<div class = "sidebar">
  <ul>
    <li class = "side_userimg"><%= image_tag @current_user.image.url %></li>
    <li class = "side_userimg">Hello, Mr/Mrs. <%= @current_user.name %></li>
    <li><%= link_to @current_user.name + "To your favorite post", favorites_path %></li>
    <br>
    <p class = "side_line">
    <li class = "side_userimg">Users with posts</li>
    <% @post_users.each do |post_user| %>
      <% if post_user.user.name != @current_user.name %>
        <li class = "side_userimg"><%= image_tag post_user.user.image.url %></li>
        <li><%= post_user.user.name %></li>
      <% end %>
    <% end %>
  </ul>
</div>
